{% extends 'base.html' %}

{% block javascript %}
    <script src="/static/js/search.js"></script>
{% endblock %}

{% block content %}
    <div ng-app="EdictSearch">
        <div ng-controller="SearchCtrl">

            <h2>Seach</h2>
            <form class="form">
                <label for="search">Term:</label>
                <input type="text" name="search" id="search"
                    ng-model="search_term"
                    class="form-control"/>

                <br/>

                <input type="submit" id="search_btn"
                    value="Search" ng-click="doSearch()"
                    class="btn btn-primary" />

                <input type="button" id="clear_btn"
                    value="Clear" ng-click="clearSearch()"
                    class="btn btn-default" />

                <input type="button" id="advanced_button"
                    value="Advanced Search" ng-click="toggleAdvanced()"
                    class="btn btn-default" />
            </form>

            <br />

            <div ng-hide="advanced_search">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Languages:</h3>

                        {% for lang in languages|sort %}
                            <input type="checkbox" id="lang-{{ loop.index }}"
                                value="{{ lang }}" name="lang">
                            <label for="lang-{{ loop.index }}">{{ lang }}</label>
                            <br>
                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        <h3>Parts of Speech:</h3>

                        {% for pos in parts_of_speech|sort %}
                            <input type="checkbox" id="pos-{{ loop.index }}"
                                value="{{ pos }}" name="lang">
                            <label for="pos-{{ loop.index }}">{{ pos }}</label>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <br>

            <h2>Entries:</h2>

            {% raw %}
            <span>Results: {{ entries.length || 0 }}</span>


            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Seuqence</th>
                            <th>Kana</th>
                            <th>Kanji</th>
                            <th>Meanings</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="entry in entries">
                            <td>{{ entry.entry_seq }}</td>
                            <td>
                                <ul>
                                    <div ng-repeat="kana in entry.kanas | orderBy:kana ">
                                        {{ kana }}
                                    </div>
                                </ul>
                            </td>
                            <td>
                                <div ng-repeat="kanji in entry.kanjis | orderBy:kanji ">
                                    {{ kanji }}
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="gloss in entry.glosses | orderBy: 'gloss' ">
                                    {{ gloss.lang }}: {{ gloss.pos }} - {{ gloss.gloss }}
                                </div>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>
            {% endraw %}
        </div>
    </div>

{% endblock %}
