<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mongo JMDict Search{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="container-fluid">
            <h1>Mongo JMDict Search</h1>

            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>

        <!-- Necessary for bootstrap -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>


